# Klipper para el CNC: Arduino Uno (ATmega328P @16MHz) + CNC Shield V3
# Comunicacion serial por el USB de la Uno (UART0, 250000). Flasheo: avrdude/Optiboot.
# ATmega328P = 32KB flash: se DESACTIVAN todas las features opcionales (SPI/I2C/ADC/PWM/
# sensores/displays). Un CNC Shield con A4988 solo usa step/dir/enable + endstops (core).
CONFIG_MACH_AVR=y
CONFIG_MACH_atmega328p=y
CONFIG_AVR_FREQ_16000000=y
# CONFIG_WANT_ADC is not set
# CONFIG_WANT_SPI is not set
# CONFIG_WANT_SOFTWARE_SPI is not set
# CONFIG_WANT_I2C is not set
# CONFIG_WANT_SOFTWARE_I2C is not set
CONFIG_WANT_HARD_PWM=y
# CONFIG_WANT_BUTTONS is not set
# CONFIG_WANT_TMCUART is not set
# CONFIG_WANT_NEOPIXEL is not set
# CONFIG_WANT_PULSE_COUNTER is not set
# CONFIG_WANT_ST7920 is not set
# CONFIG_WANT_HD44780 is not set
# CONFIG_WANT_ADXL345 is not set
# CONFIG_WANT_LIS2DW is not set
# CONFIG_WANT_BMI160 is not set
# CONFIG_WANT_MPU9250 is not set
# CONFIG_WANT_ICM20948 is not set
# CONFIG_WANT_THERMOCOUPLE is not set
# CONFIG_WANT_HX71X is not set
# CONFIG_WANT_ADS131M0X is not set
# CONFIG_WANT_ADS1220 is not set
# CONFIG_WANT_LDC1612 is not set
# CONFIG_WANT_SENSOR_ANGLE is not set
# CONFIG_WANT_TRIGGER_ANALOG is not set
